[submodule "static/data"]
	path = static/data
	url = https://github.com/emnh/tower-defense-data
[submodule "coffee-lib"]
	path = coffee-lib
	url = https://github.com/emnh/coffee-lib
[submodule "static/jscache/SlickGrid"]
	path = static/jscache/SlickGrid
	url = https://github.com/mleibman/SlickGrid
