.buymenu-item.active {
  border: 3px solid red;
}

.buymenu-item:hover {
  border: 3px solid red;
}

.buymenu-item {
  padding-left: 5px;
  padding-right: 10px;
}

.buyItem-cursorImage {
  opacity:  0.5;
}

.money {
  font-size: 16pt;
}

.buyItem-cursor.circle {
  border-radius: 50%;
  border-radius: 50%;
  background: blue;
  opacity: 0.25;
}
